/* General setup */
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Aldrich";
  font-size: 12px;
  height: 100%;
  color: #f0f1d5;
  background-color: transparent;
}

/* This section centers the clock */
#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Style for the main timer text */
.inside {
  font-weight: bold;
  font-size: 75px;
}

/* Add a colon after each timer segment */
.timer span::after {
  content: " : ";
}

/* Remove the colon after the last timer segment */
.timer span:last-child::after {
  content: "";
}

/* Center-align the button */
.controls {
  text-align: center;
}

/* This section styles the "pause" button */
.controls button {
  box-sizing: border-box;
  height: 74px;
  background-color: transparent;
  border-color: transparent transparent transparent #f0f1d5;
  transition: 100ms all ease;
  will-change: border-width;
  cursor: pointer;
  border-style: solid;
  border-width: 37px 0 37px 60px;
}

/* This section styles the "play" button */
.controls button.pause {
  border-style: double;
  border-width: 0px 0 0px 60px;
}